* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    color: #555555;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}
p {
    margin: 0;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
}
h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 5rem;
}
section {
    margin-top: 10rem;
    text-align: center;
}

/*** navbar section ***/
/*** Top Navbar ***/
.top-navbar {
    padding: 0;
    background-color: #01427a !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.top-navbar .navbar-nav .nav-item {
    padding: 0.2rem 5rem;
    font-size: 1.3rem;
}
.top-navbar .navbar-nav .nav-item p {
    color: #cccccc;
    margin: 0;
}
.top-navbar .navbar-nav .nav-link {
    display: inline-block;
    color: #cccccc;
    text-transform: uppercase;
}
.top-navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}
.register-link {
    color: #f0a31e !important;
}
.register-link:hover {
    color: #c47e04 !important;
}
.top-navbar .navbar-nav svg {
    margin-right: 0.5rem;
}

/*** 2nd Top Navbar ***/
.navbar {
    position: fixed;
    top: 33px;
    width: 100%;
    z-index: 1;
}
.navbar-light .navbar-brand {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand span {
    color: #f0a31e;
}
nav .navbar-nav {
    font-size: 1.5rem;
    text-transform: uppercase;
}
nav .navbar-nav .nav-item {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-left: 20px;
}

/*** header section ***/
.header-section {
    background: linear-gradient( 
        to right bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)), 
        url("imgs/bg2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 80vh;
}
.header-info {
    text-align: center;
    position: relative;
    top: 40%;
    color: #ffffff;
}
.header-info h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 8rem;
    font-weight: 700;
}
.header-info p {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 300;
    padding-bottom: 1rem;
}

/*** buttons ***/
.btn {
    padding: 0.7rem 2.5rem;
    text-transform: uppercase;
    background-color: #f0a31e;
    border-radius: 0.4rem;
    outline: none !important;
    color: #ffffff;
    font-size: 1.4rem;
    border: 2px solid #f0a31e;
}
.btn:hover {
    color: #ffffff;
}

.btn-1 {
    margin-right: 2rem;
}
.btn-2 {
    background-color: transparent;
    border: 2px solid #ffffff;
}
.btn-1:hover, .btn-2:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    color: #ffffff;
}
.btn-1:active, .btn-2:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

/*** search nav bar ***/
.trip-search-navbar {
    background-color: #01427a;
    color: #cccccc;
    padding: 1rem 0;
}
.trip-search-navbar p {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.trip-search-navbar p span {
    font-weight: 700;
}
.trip-search-navbar input {
   margin-right: 1.5rem;
   padding: 0.4rem 2rem;
   border-radius: 0.4rem;
   border: none;
}
.trip-search-navbar form br {
    display: none;
}

/*** special offers section ***/
.packages {
    display: inline-grid;
    margin-top: 2.5rem;
}
.special-offers-packages img {
    width: 30rem;
    max-width: 100%;
}
.special-offers-packages .text-box {
    background-color: #f8f9fa;
    width: 30rem;
    padding: 1rem 0;
}
/*** holiday section ***/
.holiday-section {
    background: linear-gradient( 
        to right bottom,
        rgba(1, 66, 122, 0.6),
        rgba(1, 66, 122, 0.6)), 
        url("imgs/bg1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    color: #ffffff;
    padding: 5rem 0;
}
.holiday-section .icons {
    padding-top: 2rem;
}
.holiday-section .svg-inline--fa {
    font-size: 9rem;
    border: 4px solid #ffffff;
    border-radius: 50%;
    padding: 2rem;
}
.holiday-section h4 {
    text-transform: uppercase;
    margin-top: 1rem;
}
.holiday-section .svg-inline--fa:hover {
    border: 4px solid #f0a31e;
    color: #f0a31e;
    position: relative;
    bottom: 0.5rem;
    cursor: pointer;
}
/*** happy client section ***/
.client-section .container {
    padding: 2rem 0;
}
.client-section .container p {
    display: inline-block;
}
.client-section .container h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f0a31e;
    padding: 0.2rem 0;
}
.client-section .container .ratings {
   display: inline-flex;
   position: relative;
   left: 9rem;
   color: #f0a31e;
}
.client-section .reviews {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: left;
    padding: 2rem 3rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 0 0.5rem;
    max-width: 30.333%;
    opacity: 0.3;
}
.client-section .reviews:hover {
    opacity: 1;
    border-top: 3px solid #f0a31e;
}

/*** footer section ***/
footer {
    margin-top: 10rem;
    background-color: #01427a;
    color: #ffffff;
    padding: 3rem 0;
}
footer h3 {
    font-weight: 700;
    color: #f0a31e;
}
footer p {
    font-size: 1.3rem;
    font-weight: 300;
}
footer .date {
    color: #f0a31e;
    padding-bottom: 0.5rem;
}
footer input {
    width: 14rem;
    padding: 0.3rem 1rem;
    margin: 1rem 0;
    border-radius: 0.4rem;
    border: none;
}
footer ::placeholder {
    font-size: 1.2rem;
    color: #cccccc;
}
footer .btn {
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
}
footer .svg-inline--fa {
    font-size: 1.6rem;
    margin: 1rem 0.2rem;
    color: #ffffff;
}
footer .svg-inline--fa:hover {
    color: #f0a31e;
}

/*** media queries ***/

@media only screen and (max-width: 1054px) {
    .top-navbar .navbar-nav .nav-item {
       font-size: 1.1rem;
    }
    .navbar {
        top: 29px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        top: 0;
    }
    .trip-search-navbar br {
        display: none;
    }
    .client-section .reviews {
        max-width: 48%;
    }
    .client-section .container .ratings  {
        left: 15rem;
    }
}
@media only screen and (max-width: 770px) {
    .client-section .reviews {
        max-width: 100%;
    }
    .trip-search-navbar {
        text-align: center;
    }
    .trip-search-navbar input {
        margin: 0.5rem 0;
    }
    .trip-search-navbar form br {
        display: block;
    }
    .trip-search-navbar form .btn {
        padding: 0.4rem 2rem;
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-left: 5rem;
    }
}